*{
    background-color: #eae7dc;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing : border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
}

header h2{
    font-size: 50px;
    color: #E85A4F;
    transition: 0.5s;
}

header h2:hover{
    text-shadow: #e8594f46 5px 7px;
}

header h3:hover{
    text-shadow: #ca686146 2px 5px;
}

header h3{
    font-size: 20px;
    color: #E98074;
    transition: 0.5s;
}

#input{
    display: flex;
    justify-content:center;
}

#input textarea{
    border-radius: 1rem 0rem ;
    box-shadow: #e8594f8e 10px 10px;
    color: var(--light);
    font-size: 25px;
    inline-size: auto;
    width: 900px;
    padding: 10px 10px 0px 10px;
    font-weight: 200;
    overflow-wrap: break-word;
    transition: 0.2s;
    margin-bottom: 3em;
}

.notes_display{
    padding: 0rem;
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    justify-items: center;
    justify-content: center ;
}

.notes_display .note textarea{
    border-radius: 1rem ;
    box-shadow: #e8594f46 10px 10px;
    color: var(--light);
    font-size: 15px;
    inline-size: auto;
    width: 250px;
    padding: 10px 10px 0px 10px;
    font-weight: 200;
    overflow-wrap: break-word;
    margin-bottom: 1rem;
}

button{
    /* Make sure the buttons has no styling*/
     appearance: none;
     border-radius: 1rem ;
     border-color: #E98074;
     width: 50px;
     background: none;
     outline: none;
}

.notes_display .actions .edit {
    color:#affcc6;
    transition:0.4s;
}

.notes_display .actions .delete {
    color:#E85A4F;
    transition:0.4s;
}

.notes_display .actions .edit :hover{
    color: rgb(0, 255, 98);
    cursor: pointer;
}

.notes_display .actions .delete :hover{
    color: red;
    cursor: pointer;
}

.notes_display .note .content{
    display: flex;
}



